<div class="row">
  <div class="col-sm-10" ng-click="showName = true" ng-show="!showName">
    <h5>Name</h5>
    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
  </div>
  <div class="col-sm-10" ng-if="showName">
    <h3>Edit Name</h3>
    <form id="name-form" name="nameForm" ng-submit="update(user, 'name')">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" placeholder="{{user.first_name}}" ng-model="updatedInfo.firstName"></input>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" placeholder="{{user.last_name}}" ng-model="updatedInfo.lastName"></input>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password">
      </div>
      <button ng-click="showName = false">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-10" ng-click="showEmail = true" ng-show="!showEmail">
    <h5>Email</h5>
    <h3>{{ user.email }}</h3>
  </div>
  <div class="col-sm-10" ng-if="showEmail">
    <h3>Edit Email</h3>
    <form id="email-form" name="emailForm" ng-submit="update(user, 'email')">
      <div class="form-group">
        <label for="newEmail">Email:</label>
        <input type="email" class="form-control" id="newEmail" aria-describedby="emailHelp" placeholder="Enter email" ng-model="updatedInfo.email">
      </div>
      <div class="form-group">
        <label for="confirmEmail">Confirm new email:</label>
        <input type="email" class="form-control" id="confirmEmail" aria-describedby="emailHelp" placeholder="{{user.email}}">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password">
      </div>
      <button ng-click="showEmail = false">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-10" ng-click="showPassword = true" ng-click="!showPassword">
    <h5>Password</h5>
    <h3>{{ user.password }}</h3>
  </div>
  <div class="col-sm-10" ng-if="showPassword">
    <h3>Edit Password</h3>
    <form id="password-form" name="passwordForm" ng-submit="update(user, 'password')">
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input type="password" class="form-control" id="currentPassword">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" ng-model="updatedInfo.password">
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm new password:</label>
        <input type="password" class="form-control" id="confirmPassword">
      </div>
      <button ng-click="showPassword = false">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
