<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <section id="home" >
        <div class="buffer local">
          <form name="search" ng-submit="isSubmitted()">
            <h3>Pick Your Cuisine(s):</h3>
            <div class="form-group" ng-repeat="cuisine in cuisines">
                  <input type="checkbox" ng-model= "cuisineSelection" ng-click=addToCuisineList(cuisine.name) > {{ cuisine.name }}
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
      </section>
    </div>
    <div class="col-sm-3">
      <div ng-show = "submitted">
        <h2>Leftovers</h2>
        <ul ng-repeat="leftover in allCuisineLeftovers">
            <li><a ui-sref="leftoverDetail({id:leftover.id})"> {{ leftover.name }}</a></li> 
        </ul>
      </div>
    </div>
  </div>
</div>

