<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 advanced-search-box">
      <section id="home" >
        <div class="buffer local">
          <form name="search" ng-submit="cuisineSubmitted()">
            <h2><strong>filters</strong></h2>
            <h3>cuisines:</h3>
            <div class="form-group" ng-repeat="cuisine in cuisines">
                  <input type="checkbox" ng-model= "cuisineSelection" ng-click=addToCuisineList(cuisine.name) > {{ cuisine.name }}
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
          <form name="ratingSearch">
              <h3>rating:</h3>
              <span class="rating" ng-click="ratingSubmitted()">
                      <input type="radio" class="rating-input"
                  id="rating-input-1-5" name="rating-input-1" ng-model="number" ng-value="1"/>
                      <label for="rating-input-1-5" class="rating-star"></label>
                      <input type="radio" class="rating-input"
                              id="rating-input-1-4" name="rating-input-1" ng-model="number" ng-value="4"/>
                      <label for="rating-input-1-4" class="rating-star"></label>
                      <input type="radio" class="rating-input"
                              id="rating-input-1-3" name="rating-input-1" ng-model="number" ng-value="3"/>
                      <label for="rating-input-1-3" class="rating-star"></label>
                      <input type="radio" class="rating-input"
                              id="rating-input-1-2" name="rating-input-1" ng-model="number" ng-value="2"/>
                      <label for="rating-input-1-2" class="rating-star"></label>
                      <input type="radio" class="rating-input"
                              id="rating-input-1-1" name="rating-input-1" ng-model="number" ng-value="5"/>
                      <label for="rating-input-1-1" class="rating-star"></label>
              </span>
          </form>
        </div>
    </div>
      <div class="col-sm-9">
        <div>
          <h3>leftovers</h3>
          <ul>
              <li ng-repeat="leftover in leftovers | filterOwn:me.user" class="leftover-search-row" ng-init="getDistance(leftover)" ng-if="+leftover.distance.split(' ')[0] < nearness"><a ui-sref="leftoverDetail({leftoverId:leftover.id})"><img ng-src="{{ leftover.picture }}" class="img-thumbnail" width="100" height="100"> {{ leftover.name }}</a><ul class="pull-right align-search-objects" ><li><p class="distance">{{ leftover.distance }}</p></li><li><img ng-repeat="i in getRating(leftover.rating) track by $index" src="http://mytourbook.sourceforge.net/mytourbook/images/mytb/icons/photo-rating-star.png"></li></ul>
          </ul>
        </div>
      </div>
  </div>
</div>

