<!-- <div>
    <carousel interval="3000">
        <slide ng-repeat="image in images">
            <img height="300" ng-src="{{ image }}" />
        </slide>
    </carousel>
</div> -->
<!-- <section id="content-3-4" class="content-block content-3-4"> -->
<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div>
        <img class="img-responsive" ng-src="{{ leftover.picture }}" />
      </div>
      <button type="submit" class="btn btn-primary" ng-show="user.id === leftover.chefId"
        ng-click="setCurrentlyEditing('leftover')">Edit</button>
      <button type="submit" class="btn btn-primary" ui-sref="#">Add to Cart</button>
    </div>

    <div class="col-sm-5">
      <div ng-show="currentlyEditing !== 'leftover'">
        <div class="row">
          <div class="col-sm-10">
            <h2>{{ leftover.name }}</h2>
          </div>
          <div class="col-sm-2">
            <h3>${{ leftover.price }}</h3>
          </div>
        </div>
        <h5 class="distance" ng-if="leftover.chefId !== user.id">{{ leftover.distance.split(' ')[0] }} miles away</h5>
        <p>{{ leftover.description }}</p>
        <div class="pull-right">
          <p>Delivery Fee: ${{ leftover.deliveryFee }}</p>
          <p>Quantity: {{ leftover.quantity }}</p>
        </div>
      </div>

      <!-- Edit Box -->
      <div class="col-sm-10" ng-if="currentlyEditing === 'leftover'">
        <h3>Edit Leftover</h3>
        <form id="name-form" name="nameForm" novalidate>
          <div class="form-group">
            <label for="first-name" novalidate>Name:</label>
            <input type="text" class="form-control" id="first-name" name="firstName" value="{{ leftover.name }}"
              ng-model="updatedLeftover.name" required></input>
          </div>
          <div class="form-group">
            <label for="last-name">Description:</label>
            <input type="text" class="form-control" id="last-name" name="lastName" value="{{ leftover.description }}"
              ng-model="updatedLeftover.description" required></input>
          </div>
          <div class="form-group">
            <h5>Price:</h5> $ <input type="text" class="form-control" id="price" name="price"
              value="{{ leftover.price }}" ng-model="updatedLeftover.price" required>
          </div>
          <div class="form-group">
            <h5>Delivery Fee:</h5> $ <input type="text" class="form-control" id="deliveryFee" name="deliveryFee"
              value="{{ leftover.deliveryFee }}" ng-model="updatedLeftover.deliveryFee"
              required>
          </div>
          <button class="btn btn-default" ng-click="cancel()">Cancel</button>
          <button type="submit" class="btn btn-primary" ng-disabled="nameForm.$invalid || nameForm.$pristine"
            ng-click="updateLeftover(updatedLeftover)">Save</button>
        </form>
      </div>
      <!-- // Edit Box -->
    </div>
  </div>

  <div class="review-box">
    <h4>Reviews for {{ leftover.name }}</h4>
    <img ng-repeat="i in getRating(rating) track by $index" src="http://mytourbook.sourceforge.net/mytourbook/images/mytb/icons/photo-rating-star.png">    {{ reviews.length }} Reviews
    <br><br>
    <ul ng-repeat="review in reviews | limitTo:10">
      <li>{{ review.body }}</li>
    </ul>
  </div>
</div>
<!-- </section> -->


<!-- ng-show="user.id === leftover.chefId" -->

