<section id="home" >
    <div class="buffer local">
      <form name="search" ng-submit="function()">
        <div class="form-group">
          <label>pick your cuisines:</label>
          <select>
            <option ng-repeat="cuisine in cuisines"  ng-model="cuisine.selection"><input type="checkbox">{{ cuisine.cuisine }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>near:</label>
          <input type="text" class="form-control" ng-model="address" required />
        </div>
        <button type="submit" class="btn btn-block btn-primary">search</button>
      </form>
    </div>
</section>
