<section id="content-3-4" class="content-block content-3-4 content-bannerblock">
    <div class="container">
        <div class="row">
            <div class="col-md-7 home-sidetext">
                <img class="img-homeheader img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/a712e44621271.5601f24011f42.jpg">
                <h1 class="title-welcome">welcome to <strong>too much spaghetti</strong></h1>
                <p class="subtitle-welcome">Hungry? Check out a variety of delicious, home made leftovers in your neighborhood!</p>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"></h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div id="content1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="buffer local">
                                    <form name="search" ng-submit="isSubmitted()">
                                        <div class="form-group"><br>
                                            <label>find:</label>
                                            <br>
                                            <select ng-model="cuisineSelection">
                                                <option ng-repeat="cuisine in cuisines">{{ cuisine.name }}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>near:</label>
                                            <input type="text" class="form-control" ng-model="address" required />
                                        </div>
                                        <button type="submit" class="btn btn-block btn-primary" ui-sref="search({selection: cuisineSelection})">search</button>
                                    </form>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.content -->
                    </div>
                </div>
                <!-- /.accordion -->
            </div>
            <!-- /.column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<section class="content-block team-2 team-2-1">
    <div class="container">
        <div class="underlined-title">
            <h2><strong>featured</strong> leftovers</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 team-wrapper" ng-repeat="featuredLeftover in featuredLeftovers">
                <div class="team-item">
                    <div class="team-thumb">
                        <a ui-sref="leftoverDetail({leftoverId: featuredLeftover.id})">
                            <img ng-src="{{ featuredLeftover.picture }}">
                        </a>
                    </div>
                    <div class="team-details">
                        <h4>{{ featuredLeftover.name }}</h4>
                        <img ng-repeat="i in getRating(featuredLeftover.rating) track by $index" src="http://mytourbook.sourceforge.net/mytourbook/images/mytb/icons/photo-rating-star.png">
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
