<!-- <search-bar></search-bar>
<div>
    <h2>Featured Leftovers</h2>
    <ul ng-repeat="featuredLeftover in featuredLeftovers">
        <a ui-sref="leftoverDetail({id: featuredLeftover.id})">{{ featuredLeftover.name }}</a>
    </ul>
</div>
 -->
<section id="content-3-4" class="content-block content-3-4 content-bannerblock">
    <div class="container">
        <div class="row">
            <div class="col-md-7 home-sidetext">
                <img class="img-responsive img-homeheader" src="https://c1.staticflickr.com/9/8169/29612420142_d7b2500f93_b.jpg">
                <h2 class="title-welcome">welcome to <strong>too much spaghetti</strong></h2>
                <p class="subtitle-welcome">Hungry? Check out a variety of delicious, home made leftovers in your neighborhood!</p>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"></h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div id="content1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="buffer local">
                                    <form name="search" ng-submit="function()">
                                        <div class="form-group">
                                            <label>find:</label>
                                            <br>
                                            <select>
                                                <option ng-repeat="cuisine in cuisines" ng-model="cuisine.selection">{{ cuisine.name }}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>near:</label>
                                            <input type="text" class="form-control" ng-model="address" required />
                                        </div>
                                        <button type="submit" class="btn btn-block btn-primary">search</button>
                                    </form>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.content -->
                    </div>
                </div>
                <!-- /.accordion -->
            </div>
            <!-- /.column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<section class="content-block team-2 team-2-1">
    <div class="container">
        <div class="underlined-title">
            <h1><strong>featured</strong> leftovers</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-4 team-wrapper" ng-repeat="featuredLeftover in featuredLeftovers">
                <div class="team-item">
                    <div class="team-thumb">
                        <img src="leftoverDetail({picture: featuredLeftover.picture})" alt="Featured Leftover">
                        <div class="image-overlay"></div>
                        <a ui-sref="leftoverDetail({id: featuredLeftover.id})" class="team-link"><i class="fa fa-3x fa-envelope-o"></i></a>
                    </div>
                    <div class="team-details">
                        <h4>{{ featuredLeftover.name }}</h4>
                    </div>
                </div>
            </div>
           <!--  <div class="col-sm-4 team-wrapper">
                <div class="team-item">
                    <div class="team-thumb">
                        <img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
                        <div class="image-overlay"></div>
                        <a href="#" class="team-link"><i class="fa fa-3x fa-envelope-o"></i></a>
                    </div>
                    <div class="team-details">
                        <h4>My Name</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 team-wrapper">
                <div class="team-item">
                    <div class="team-thumb">
                        <img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
                        <div class="image-overlay"></div>
                        <a href="#" class="team-link"><i class="fa fa-3x fa-envelope-o"></i></a>
                    </div>
                    <div class="team-details">
                        <h4>Someone Else</h4>
                    </div>
                </div>
            </div> -->
            <!-- /.gallery-item-wrapper -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
